.header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #000;
  border-radius: 10px;
  background-color: #ad9292;
  

  margin-bottom: 5px;

  &_container {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  &_logo {
    width: 100px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #000;
  }

  &_menu {
    ul {
      list-style-type: none;
      display: flex;
    }
    &--item {
      width: 100px;
      height: 40px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  &_search{
    position: relative;
    

    &_field{
      position: absolute;
      right: -250px;
      width: 250px;
      height: 30px;
      background-color: #fff;

      &--active {
        @extend .header_search_field;
        transition: .5s ease;
        right: 30px;
        overflow: hidden;
      }
    }
    &_btn {
      overflow: hidden;
      width: 30px;
      height: 30px;
      border: 1px solid #000;
      z-index: 1000;
    }
  }
}
